@model Casgem_CodeFirstProject.DAL.Entities.SocialMedia
@{
    ViewBag.Title = "AddSocialMedia";
    Layout = "~/Views/Admin/Index.cshtml";
}
<div class="alert alert-primary" role="alert">
    Giriş yapan kullanıcı: <u> @Html.Raw("@")@Session["userTravel"].ToString()</u>
    <form action="/Login/Exit" method="post">
        <button type="submit" class="btn btn-danger">Çıkış Yap</button>
    </form>
</div>
<h2>Yeni Sosyal Medya Hesabı</h2>
<form>
    <label>Sosyal Medya Adı: </label>
    @Html.TextBoxFor(x => x.SocialMediaName, new { @class = "form-control" })

    <label>Sosyal Medya Linki: </label>
    @Html.TextBoxFor(x => x.SocialMediaUrl, new { @class = "form-control" })

    <label>Rehber: </label>
    @Html.DropDownListFor(x => x.Guide.GuideID, (List<SelectListItem>)ViewBag.v, new { @class = "form-control" })
</form>