@model List<Casgem_CodeFirstProject.DAL.Entities.SocialMedia>
@{
    Layout = "~/Views/Shared/TemplateView.cshtml";
    int count = 0;
}
<div class="alert alert-primary" role="alert">
    Giriş yapan kullanıcı: <u> @Html.Raw("@")@Session["userTravel"].ToString()</u>
    <form action="/Login/Exit" method="post">
        <button type="submit" class="btn btn-danger">Çıkış Yap</button>
    </form>
</div>
<h2>Sosyal Medya</h2>

<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Sosyal Medya</th>
        <th>Rehber</th>
        <th>Siteye Git</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@count++</td>
            <td>@item.SocialMediaName</td>
            <td>@item.Guide.GuideName</td>
            <td><a href="@item.SocialMediaUrl" class="btn btn-outline-dark">Siteye Git</a></td>
        </tr>
    }
</table>