@model List<Casgem_CodeFirstProject.DAL.Entities.User>
@{
    Layout = "~/Views/Shared/TemplateView.cshtml";
}

<div class="alert alert-primary" role="alert">
    Giriş yapan kullanıcı: <u> @Html.Raw("@")@Session["userTravel"].ToString()</u>
    <form action="/Login/Exit" method="post">
        <button type="submit" class="btn btn-danger">Çıkış Yap</button>
    </form>
</div>
<h2>Kullanıcı İşlemleri</h2>
<table class="table table-bordered">
    <tr>
        <th>Kullanıcı Adı</th>
        <th>Şifre</th>
        <th>Sil</th>
        <th>Güncelle</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.UserName</td>
            <td>@item.Password</td>
            <td><a href="/User/DeleteUser/@item.UserID" class="btn btn-outline-danger">Sil</a></td>
            <td><a href="/User/UpdateUser/@item.UserID" class="btn btn-outline-success">Güncelle</a></td>
        </tr>
    }

</table>
<a href="/User/AddUser/" class="btn btn-outline-info">Yeni Kullanıcı Ekle</a></td>
