
@{
    Layout = null;
}
<!doctype html>
<html lang="en">
<head>
    <title>Panel</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/Templates/sidebar-03/css/style.css">
</head>
<body>
    <div class="wrapper d-flex align-items-stretch">
        <nav id="sidebar">
            <div class="custom-menu">
                <button type="button" class="btn btn-primary">
                    <i class="fa fa-bars"></i>
                    <span class="sr-only">Açılır Menü</span>
                </button>
            </div>
            <div class="p-4">
                <h1><a href="index.html" class="logo">Dashboard</a></h1>
                <ul class="list-unstyled components mb-5">
                    <li>
                        <a href="/Login/Register"><span class="fa fa-paper-plane mr-3"></span>Kayıt Ol</a>
                    </li>
                    <li>
                        <a href="/Login/Index"><span class="fa fa-paper-plane mr-3"></span>Giriş Yap</a>
                    </li>
                    <li>
                        <a href="/Default/Index"><span class="fa fa-home mr-3"></span>Ana Sayfa</a>
                    </li>
                    <li>
                        <a href="/AdminGuide/Index"><span class="fa fa-home mr-3"></span>Rehber</a>
                    </li>
                    <li>
                        <a href="/Admin/Index"><span class="fa fa-user mr-3"></span>Admin</a>
                    </li>
                    <li>
                        <a href="/SocialMedia/Index"><span class="fa fa-briefcase mr-3"></span>Social Media</a>
                    </li>
                    <li>
                        <a href="/User/Index"><span class="fa fa-sticky-note mr-3"></span>Kullanıcı İşlemleri</a>
                    </li>
                    <li>
                        <a href="/About/Index"><span class="fa fa-sticky-note mr-3"></span>Hakkımda Kısmı</a>
                    </li>
                    <li>
                        <a href="/Contact/Index"><span class="fa fa-sticky-note mr-3"></span>İletişim Kısmı</a>
                    </li>
                    <li>
                        <a href="/ErrorPage/Page404"><span class="fa fa-paper-plane mr-3"></span>Mavi Ekran (:</a>
                    </li>
                </ul>

                <div class="mb-5">
                    <h3 class="h6 mb-3">Yeni şeyler için abone ol.</h3>
                    <form action="#" class="subscribe-form">
                        <div class="form-group d-flex">
                            <div class="icon"><span class="icon-paper-plane"></span></div>
                            <input type="text" class="form-control" placeholder="E-posta adresinizi giriniz">
                        </div>
                    </form>
                </div>

                <div class="footer">
                    <p>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        Copyright &copy;
                        <script>document.write(new Date().getFullYear());</script> Tüm hakları saklıdır.
                        <i class="icon-heart" aria-hidden="true"></i> Bu site Hüseyin Aydın tarafından yapılmıştır.
                        <form action="http://www.github.com/huseyinaydin99" method="get">
                            <button class="btn btn-outline-primary">Hüseyin Aydın</button>
                        </form>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->

                    </p>

                </div>

            </div>
        </nav>

        <!-- Page Content  -->
        <div id="content" class="p-4 p-md-5 pt-5">
            <!-- <h2 class="mb-4">Sidebar #03</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            -->
            @RenderBody()
        </div>
    </div>

    <script src="~/Templates/sidebar-03/js/jquery.min.js"></script>
    <script src="~/Templates/sidebar-03/js/popper.js"></script>
    <script src="~/Templates/sidebar-03/js/bootstrap.min.js"></script>
    <script src="~/Templates/sidebar-03/js/main.js"></script>

</body>
</html>