
@{
    Layout = null;
}

<link rel="stylesheet" href="~/Templates/Report-Login-Free/css/style_1.css" type="text/css" media="all" />



<div class="notfound">
    
    <div class="centered">HAYIRLISI</</div>

    <div class="notfound">
        
        <div class="centered"><span class="inverted">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>&nbsp;</div>
        <div class="centered"><span class="inverted">&nbsp;4&nbsp;0&nbsp;4&nbsp;</span><span class="shadow">&nbsp;</span></div>
        <div class="centered"><span class="inverted">&nbsp;404&nbsp;Not&nbsp;Found&nbsp;</span><span class="shadow">&nbsp;</span></div>
        <div class="centered"><span class="inverted">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="shadow">&nbsp;</span></div>
        <div class="centered">&nbsp;<span class="shadow">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></div>
        <div class="row">
            <div class="row">Ölümcül hata! CODE:Yanlis sayfaya geldin oyle bir sayfa yok!</div>
            <div class="row">Hata kodu: 0x003@HUSO007b bellek read olmuyor.</div>
            <div class="row">Sunucumuza attiginiz istek gecersiz!</div>
            <div class="row">Ulaşmak istediğiniz sayfa bulunmamakta!</div>
            <div class="row">&nbsp;</div>
            <div class="row">* Herhangi bir tusa basiniz ya da bir onceki sayfaya donunuz.</div>
            <div class="row">* CTRL+ALT+DEL ile bilgisayarinizi yeniden baslatiniz.</div>
            <div class="row">&nbsp;&nbsp;</div>
            <div class="row">&nbsp;</div>

            <div class="centered">Press any key to continue...<span class="blink">&#9608;</span></div>
            <br />
            <br />
            <br />
            <br />
            <marquee>Kaydetmediginiz veriler kaybolacak!.</marquee>
            <br />
            <div class="centered">
                Hata sesini çal:
            </div>
            <div class="centered">

                <audio controls autoplay>
                    <source src="~/Templates/error_sound.mp3" type="audio/mpeg">
                    Tarayıcının ses desteği yok!
                </audio>
            </div>
        </div>
    </div>
</div>
