<section class="w3l-call-to-action_9">
    <div class="call-w3">
        <div class="container">
            <div class="booking-form-content">
                <div class="main-titles-head ">
                    <h3 class="header-name">
                        En İyi Tatili Uzman Tavsiyesi İle Planlayın!
                    </h3>
                    <p class="tiltle-para editContent ">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Hic fuga sit illo modi aut aspernatur tempore laboriosam saepe dolores eveniet.</p>
                </div>
                <form action="search-results.html" method="post" class="booking-form">
                    <div class="row book-form">
                        <div class="form-input col-md-4">
                            <label>Name</label>
                            <input type="text" name="" placeholder="Name" required="">
                        </div>
                        <div class="form-input col-md-4">
                            <label>Nereye gitmek istiyorsunuz?</label>
                            <select name="selectpicker" class="selectpicker">
                                <option value="">Herhangi bir yer</option>
                                <option value="africa">Afrika</option>
                                <option value="america">Amerika</option>
                                <option value="asia">Asya</option>
                                <option value="eastern-europe">
                                    Doğu Avrupa
                                </option>
                                <option value="europe">Avrupa</option>
                                <option value="south-america">
                                    Güney Amerika
                                </option>
                            </select>

                        </div>
                        <div class="form-input col-md-4">
                            <label>Activity</label>
                            <select name="activity" class="selectpicker">
                                <option value="">Herhangibir yer</option>
                                <option value="city-tours">Şehir Turları</option>
                                <option value="cultural-thematic-tours">
                                    Kültürel &amp; Tematik Turlar
                                </option>
                                <option value="family-friendly-tours">aile veya Arkadaş Turları</option>
                                <option value="holiday-seasonal-tours">
                                    Tatil &amp; Sezonluk Turlar
                                </option>
                                <option value="indulgence-luxury-tours">Lüx Turlar</option>
                                <option value="outdoor-activites">
                                    Açık Hava Etkinlikleri
                                </option>
                                <option value="relaxation-tours">
                                    Dinlenme Turları
                                </option>
                                <option value="wild-adventure-tours">Wild Adventure Tours</option>
                            </select>

                        </div>
                        <div class="form-input col-md-4 mt-3">

                            <label>Duration</label>
                            <select name="duration" class="selectpicker">
                                <option value="1">1 Günlük Tur</option>
                                <option value="2">2-4 Günlük Tour</option>
                                <option value="5">5-7 Günlük Tur</option>
                                <option value="7">7+ Günlük Tur</option>
                            </select>

                        </div>
                        <div class="form-input col-md-4 mt-3">
                            <label>Date</label>
                            <input type="date" name="" placeholder="Date" required="">
                        </div>
                        <div class="bottom-btn col-md-4 mt-3">
                            <label>Gönder</label>
                            <button class="btn btn-style btn-primary w-100 btn-style">Gönder</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
